extends layout
block headScripts
	script(src='/javascripts/metadatamgmt.js')

block mainContainer
	p This is the metadata mgmt page

	
	div.formBox
		p Add new company 
		div(id='add-company')
			form(name='add-company-form', action="/addcomp_submit", method="post")
				fieldset
					div
						label(for='companyName') Company Name:
						input(type="text", name="companyName")
					div
						label(for='marketCap') Market Capitalization:
						input(type="number", name="marketCap")
					div(id='add-company-field-sector')
						label(for='sector') Sector:
						select(type="text", name="sector")
							option(selected='selected' disabled) Select sector
							each sector in sectors 
								option(value=sector.sectorId) #{sector.sector}
					div(id='add-company-field-industry').hidden
						label(for='industry') Industry:
						select(type="text", name="industry")
							option(selected='selected' disabled) Select industry

	p Add new ticker
	div(id='add_ticker')
		form(name='add_ticker_form', action="/addticker_submit", method="post")
			input(type="text", name="tick_comp")

	p Update existing ticker
	div(id='select_ticker') 