extends layout
block headScripts
	script(src='/javascripts/metadatamgmt.js')

block mainContainer
	p This is the metadata mgmt page

	p Add new ticker
	div(id='add_ticker')


	p Update existing ticker
	div(id='select_ticker') 